<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recycleview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".PlatzigramApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recycleview">

       <provider
           android:authorities="com.example.recycleview"
           android:name="androidx.core.content.FileProvider"
           android:exported="false"
           android:grantUriPermissions="true"
           >
           <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
               android:resource="@xml/file_path"></meta-data>

       </provider>
        <activity
            android:name=".login.view.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".post.view.NewPostActivity"
            android:exported="false" />
        <activity
            android:name=".login.view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".post.view.PictureDetail"
            android:exported="false" />
        <activity
            android:name=".post.view.MainActivity"
            android:exported="false" />
    </application>

</manifest>